code/front-end/node_modules
code/data/monument_600/.DS_Store
code/data/monument_600/data_600.en
code/data/monument_600/data_600.sparql
code/data/monument_600/dev.en
code/data/monument_600/dev.sparql
code/data/monument_600/test.en
code/data/monument_600/test.sparql
code/data/monument_600/train.en
code/data/monument_600/train.sparql
code/data/monument_600/translate_ensparql-dev-00000-of-00001
code/data/monument_600/translate_ensparql-test-00000-of-00001
code/data/monument_600/translate_ensparql-train-00000-of-00001
code/data/monument_600/vocab.en
code/data/monument_600/vocab.shared
code/data/monument_600/vocab.sparql
code/data/monument_600/fairseq-data-bin/dict.en.txt
code/data/monument_600/fairseq-data-bin/dict.sparql.txt
code/data/monument_600/fairseq-data-bin/test.en-sparql.en.bin
code/data/monument_600/fairseq-data-bin/test.en-sparql.en.idx
code/data/monument_600/fairseq-data-bin/test.en-sparql.sparql.bin
code/data/monument_600/fairseq-data-bin/test.en-sparql.sparql.idx
code/data/monument_600/fairseq-data-bin/train.en-sparql.en.bin
code/data/monument_600/fairseq-data-bin/train.en-sparql.en.idx
code/data/monument_600/fairseq-data-bin/train.en-sparql.sparql.bin
code/data/monument_600/fairseq-data-bin/train.en-sparql.sparql.idx
code/data/monument_600/fairseq-data-bin/valid.en-sparql.en.bin
code/data/monument_600/fairseq-data-bin/valid.en-sparql.en.idx
code/data/monument_600/fairseq-data-bin/valid.en-sparql.sparql.bin
code/data/monument_600/fairseq-data-bin/valid.en-sparql.sparql.idx
code/data/temp_mounment_600/.DS_Store
code/data/temp_mounment_600/data_600.en
code/data/temp_mounment_600/data_600.sparql
code/data/temp_mounment_600/dev.en
code/data/temp_mounment_600/dev.sparql
code/data/temp_mounment_600/test.en
code/data/temp_mounment_600/test.sparql
code/data/temp_mounment_600/train.en
code/data/temp_mounment_600/train.sparql
code/data/temp_mounment_600/translate_ensparql-dev-00000-of-00001
code/data/temp_mounment_600/translate_ensparql-test-00000-of-00001
code/data/temp_mounment_600/translate_ensparql-train-00000-of-00001
code/data/temp_mounment_600/vocab.en
code/data/temp_mounment_600/vocab.shared
code/data/temp_mounment_600/vocab.sparql
code/data/temp_mounment_600/fairseq-data-bin/dict.en.txt
code/data/temp_mounment_600/fairseq-data-bin/dict.sparql.txt
code/data/temp_mounment_600/fairseq-data-bin/test.en-sparql.en.bin
code/data/temp_mounment_600/fairseq-data-bin/test.en-sparql.en.idx
code/data/temp_mounment_600/fairseq-data-bin/test.en-sparql.sparql.bin
code/data/temp_mounment_600/fairseq-data-bin/test.en-sparql.sparql.idx
code/data/temp_mounment_600/fairseq-data-bin/train.en-sparql.en.bin
code/data/temp_mounment_600/fairseq-data-bin/train.en-sparql.en.idx
code/data/temp_mounment_600/fairseq-data-bin/train.en-sparql.sparql.bin
code/data/temp_mounment_600/fairseq-data-bin/train.en-sparql.sparql.idx
code/data/temp_mounment_600/fairseq-data-bin/valid.en-sparql.en.bin
code/data/temp_mounment_600/fairseq-data-bin/valid.en-sparql.en.idx
code/data/temp_mounment_600/fairseq-data-bin/valid.en-sparql.sparql.bin
code/data/temp_mounment_600/fairseq-data-bin/valid.en-sparql.sparql.idx
code/results/DBNQA/ConvS2S/dev_output.txt
code/results/DBNQA/ConvS2S/test_output.txt
code/results/DBNQA/ConvS2S/test.csv
code/results/DBNQA/ConvS2S/train.csv
code/results/DBNQA/ConvS2S/valid.csv
code/results/DBNQA/GNMT-4/dev_bleu.csv
code/results/DBNQA/GNMT-4/dev_output.txt
code/results/DBNQA/GNMT-4/dev_ppl.csv
code/results/DBNQA/GNMT-4/test_bleu.csv
code/results/DBNQA/GNMT-4/test_output.txt
code/results/DBNQA/GNMT-4/test_ppl.csv
code/results/DBNQA/GNMT-4/train_ppl.csv
code/results/DBNQA/GNMT-8/dev_bleu.csv
code/results/DBNQA/GNMT-8/dev_output.txt
code/results/DBNQA/GNMT-8/dev_ppl.csv
code/results/DBNQA/GNMT-8/test_bleu.csv
code/results/DBNQA/GNMT-8/test_output.txt
code/results/DBNQA/GNMT-8/test_ppl.csv
code/results/DBNQA/GNMT-8/train_ppl.csv
code/results/DBNQA/NSpM/dev_bleu.csv
code/results/DBNQA/NSpM/dev_output.txt
code/results/DBNQA/NSpM/dev_ppl.csv
code/results/DBNQA/NSpM/test_bleu.csv
code/results/DBNQA/NSpM/test_output.txt
code/results/DBNQA/NSpM/test_ppl.csv
code/results/DBNQA/NSpM/train_ppl.csv
code/results/DBNQA/NSpM+Att1/dev_bleu.csv
code/results/DBNQA/NSpM+Att1/dev_output.txt
code/results/DBNQA/NSpM+Att1/dev_ppl.csv
code/results/DBNQA/NSpM+Att1/test_bleu.csv
code/results/DBNQA/NSpM+Att1/test_output.txt
code/results/DBNQA/NSpM+Att1/test_ppl.csv
code/results/DBNQA/NSpM+Att1/train_ppl.csv
code/results/DBNQA/NSpM+Att2/dev_bleu.csv
code/results/DBNQA/NSpM+Att2/dev_output.txt
code/results/DBNQA/NSpM+Att2/dev_ppl.csv
code/results/DBNQA/NSpM+Att2/test_bleu.csv
code/results/DBNQA/NSpM+Att2/test_output.txt
code/results/DBNQA/NSpM+Att2/test_ppl.csv
code/results/DBNQA/NSpM+Att2/train_ppl.csv
code/results/DBNQA/Transformer/dev_output.txt
code/results/DBNQA/Transformer/test_output.txt
code/results/DBNQA/Transformer/test.csv
code/results/DBNQA/Transformer/train.csv
code/results/DBNQA/Transformer/valid.csv
code/results/DBNQA/lstm_luong/dev_output.txt
code/results/DBNQA/lstm_luong/test_output.txt
code/results/DBNQA/lstm_luong/test.csv
code/results/DBNQA/lstm_luong/train.csv
code/results/DBNQA/lstm_luong/valid.csv
code/results/LC-QUAD/ConvS2S/dev_output.txt
code/results/LC-QUAD/ConvS2S/test_output.txt
code/results/LC-QUAD/ConvS2S/train.csv
code/results/LC-QUAD/ConvS2S/valid.csv
code/results/LC-QUAD/GNMT-4/dev_bleu.csv
code/results/LC-QUAD/GNMT-4/dev_output.txt
code/results/LC-QUAD/GNMT-4/dev_ppl.csv
code/results/LC-QUAD/GNMT-4/test_bleu.csv
code/results/LC-QUAD/GNMT-4/test_output.txt
code/results/LC-QUAD/GNMT-4/test_ppl.csv
code/results/LC-QUAD/GNMT-4/train_ppl.csv
code/results/LC-QUAD/GNMT-8/dev_bleu.csv
code/results/LC-QUAD/GNMT-8/dev_output.txt
code/results/LC-QUAD/GNMT-8/dev_ppl.csv
code/results/LC-QUAD/GNMT-8/test_bleu.csv
code/results/LC-QUAD/GNMT-8/test_output.txt
code/results/LC-QUAD/GNMT-8/test_ppl.csv
code/results/LC-QUAD/GNMT-8/train_ppl.csv
code/results/LC-QUAD/NSpM/dev_bleu.csv
code/results/LC-QUAD/NSpM/dev_output.txt
code/results/LC-QUAD/NSpM/dev_ppl.csv
code/results/LC-QUAD/NSpM/test_bleu.csv
code/results/LC-QUAD/NSpM/test_output.txt
code/results/LC-QUAD/NSpM/test_ppl.csv
code/results/LC-QUAD/NSpM/train_ppl.csv
code/results/LC-QUAD/NSpM+Att1/dev_bleu.csv
code/results/LC-QUAD/NSpM+Att1/dev_output.txt
code/results/LC-QUAD/NSpM+Att1/dev_ppl.csv
code/results/LC-QUAD/NSpM+Att1/test_bleu.csv
code/results/LC-QUAD/NSpM+Att1/test_output.txt
code/results/LC-QUAD/NSpM+Att1/test_ppl.csv
code/results/LC-QUAD/NSpM+Att1/train_ppl.csv
code/results/LC-QUAD/NSpM+Att2/dev_bleu.csv
code/results/LC-QUAD/NSpM+Att2/dev_output.txt
code/results/LC-QUAD/NSpM+Att2/dev_ppl.csv
code/results/LC-QUAD/NSpM+Att2/test_bleu.csv
code/results/LC-QUAD/NSpM+Att2/test_output.txt
code/results/LC-QUAD/NSpM+Att2/test_ppl.csv
code/results/LC-QUAD/NSpM+Att2/train_ppl.csv
code/results/LC-QUAD/Transformer/dev_output.txt
code/results/LC-QUAD/Transformer/dev_ppl.csv
code/results/LC-QUAD/Transformer/test_output.txt
code/results/LC-QUAD/Transformer/train.csv
code/results/LC-QUAD/Transformer/valid.csv
code/results/LC-QUAD/lstm_luong/dev_output.txt
code/results/LC-QUAD/lstm_luong/dev_ppl.csv
code/results/LC-QUAD/lstm_luong/test_output.txt
code/results/LC-QUAD/lstm_luong/train_ppl.csv
code/results/LC-QUAD/lstm_luong/train.csv
code/results/LC-QUAD/lstm_luong/valid.csv
code/results/Monument/ConvS2S/dev_output.txt
code/results/Monument/ConvS2S/test_output.txt
code/results/Monument/ConvS2S/train.csv
code/results/Monument/ConvS2S/valid.csv
code/results/Monument/GNMT-4/dev_bleu.csv
code/results/Monument/GNMT-4/dev_output.txt
code/results/Monument/GNMT-4/dev_ppl.csv
code/results/Monument/GNMT-4/test_bleu.csv
code/results/Monument/GNMT-4/test_output.txt
code/results/Monument/GNMT-4/test_ppl.csv
code/results/Monument/GNMT-4/train_ppl.csv
code/results/Monument/GNMT-8/dev_bleu.csv
code/results/Monument/GNMT-8/dev_output.txt
code/results/Monument/GNMT-8/dev_ppl.csv
code/results/Monument/GNMT-8/test_bleu.csv
code/results/Monument/GNMT-8/test_output.txt
code/results/Monument/GNMT-8/test_ppl.csv
code/results/Monument/GNMT-8/train_ppl.csv
code/results/Monument/NSpM/dev_bleu.csv
code/results/Monument/NSpM/dev_output.txt
code/results/Monument/NSpM/dev_ppl.csv
code/results/Monument/NSpM/test_bleu.csv
code/results/Monument/NSpM/test_output.txt
code/results/Monument/NSpM/test_ppl.csv
code/results/Monument/NSpM/train_ppl.csv
code/results/Monument/NSpM+Att1/dev_bleu.csv
code/results/Monument/NSpM+Att1/dev_output.txt
code/results/Monument/NSpM+Att1/dev_ppl.csv
code/results/Monument/NSpM+Att1/output_test
code/results/Monument/NSpM+Att1/test_bleu.csv
code/results/Monument/NSpM+Att1/test_output.txt
code/results/Monument/NSpM+Att1/test_ppl.csv
code/results/Monument/NSpM+Att1/train_ppl.csv
code/results/Monument/NSpM+Att2/dev_bleu.csv
code/results/Monument/NSpM+Att2/dev_output.txt
code/results/Monument/NSpM+Att2/dev_ppl.csv
code/results/Monument/NSpM+Att2/test_bleu.csv
code/results/Monument/NSpM+Att2/test_output.txt
code/results/Monument/NSpM+Att2/test_ppl.csv
code/results/Monument/NSpM+Att2/train_ppl.csv
code/results/Monument/Transformer/dev_output.txt
code/results/Monument/Transformer/dev_ppl.csv
code/results/Monument/Transformer/dev_translation.sparql
code/results/Monument/Transformer/test_output.txt
code/results/Monument/Transformer/test_translation.sparql
code/results/Monument/Transformer/train_ppl.csv
code/results/Monument/Transformer/train.csv
code/results/Monument/Transformer/valid.csv
code/results/Monument/lstm_luong/dev_output.txt
code/results/Monument/lstm_luong/dev_ppl.csv
code/results/Monument/lstm_luong/test_output.txt
code/results/Monument/lstm_luong/train_ppl.csv
code/results/Monument/lstm_luong/train.csv
code/results/Monument/lstm_luong/valid.csv
code/results/Monument50/ConvS2S/dev_output.txt
code/results/Monument50/ConvS2S/test_output.txt
code/results/Monument50/ConvS2S/train.csv
code/results/Monument50/ConvS2S/valid.csv
code/results/Monument50/GNMT-4/dev_bleu.csv
code/results/Monument50/GNMT-4/dev_output.txt
code/results/Monument50/GNMT-4/dev_ppl.csv
code/results/Monument50/GNMT-4/test_bleu.csv
code/results/Monument50/GNMT-4/test_output.txt
code/results/Monument50/GNMT-4/test_ppl.csv
code/results/Monument50/GNMT-4/train_ppl.csv
code/results/Monument50/GNMT-8/dev_bleu.csv
code/results/Monument50/GNMT-8/dev_output.txt
code/results/Monument50/GNMT-8/dev_ppl.csv
code/results/Monument50/GNMT-8/test_bleu.csv
code/results/Monument50/GNMT-8/test_output.txt
code/results/Monument50/GNMT-8/test_ppl.csv
code/results/Monument50/GNMT-8/train_ppl.csv
code/results/Monument50/NSpM/dev_bleu.csv
code/results/Monument50/NSpM/dev_output.txt
code/results/Monument50/NSpM/dev_ppl.csv
code/results/Monument50/NSpM/test_bleu.csv
code/results/Monument50/NSpM/test_output.txt
code/results/Monument50/NSpM/test_ppl.csv
code/results/Monument50/NSpM/train_ppl.csv
code/results/Monument50/NSpM+Att1/dev_bleu.csv
code/results/Monument50/NSpM+Att1/dev_output.txt
code/results/Monument50/NSpM+Att1/dev_ppl.csv
code/results/Monument50/NSpM+Att1/test_bleu.csv
code/results/Monument50/NSpM+Att1/test_output.txt
code/results/Monument50/NSpM+Att1/test_ppl.csv
code/results/Monument50/NSpM+Att1/train_ppl.csv
code/results/Monument50/NSpM+Att2/dev_bleu.csv
code/results/Monument50/NSpM+Att2/dev_output.txt
code/results/Monument50/NSpM+Att2/dev_ppl.csv
code/results/Monument50/NSpM+Att2/test_bleu.csv
code/results/Monument50/NSpM+Att2/test_output.txt
code/results/Monument50/NSpM+Att2/test_ppl.csv
code/results/Monument50/NSpM+Att2/train_ppl.csv
code/results/Monument50/Transformer/dev_output.txt
code/results/Monument50/Transformer/dev_ppl.csv
code/results/Monument50/Transformer/test_output.txt
code/results/Monument50/Transformer/train_ppl.csv
code/results/Monument50/Transformer/train.csv
code/results/Monument50/Transformer/valid.csv
code/results/Monument50/lstm_luong/dev_output.txt
code/results/Monument50/lstm_luong/dev_ppl.csv
code/results/Monument50/lstm_luong/test_output.txt
code/results/Monument50/lstm_luong/train_ppl.csv
code/results/Monument50/lstm_luong/train.csv
code/results/Monument50/lstm_luong/valid.csv
code/results/Monument80/ConvS2S/dev_output.txt
code/results/Monument80/ConvS2S/test_output.txt
code/results/Monument80/ConvS2S/train.csv
code/results/Monument80/ConvS2S/valid.csv
code/results/Monument80/GNMT-4/dev_bleu.csv
code/results/Monument80/GNMT-4/dev_output.txt
code/results/Monument80/GNMT-4/dev_ppl.csv
code/results/Monument80/GNMT-4/test_bleu.csv
code/results/Monument80/GNMT-4/test_output.txt
code/results/Monument80/GNMT-4/test_ppl.csv
code/results/Monument80/GNMT-4/train_ppl.csv
code/results/Monument80/GNMT-8/dev_bleu.csv
code/results/Monument80/GNMT-8/dev_output.txt
code/results/Monument80/GNMT-8/dev_ppl.csv
code/results/Monument80/GNMT-8/test_bleu.csv
code/results/Monument80/GNMT-8/test_output.txt
code/results/Monument80/GNMT-8/test_ppl.csv
code/results/Monument80/GNMT-8/train_ppl.csv
code/results/Monument80/NSpM/dev_bleu.csv
code/results/Monument80/NSpM/dev_output.txt
code/results/Monument80/NSpM/dev_ppl.csv
code/results/Monument80/NSpM/test_bleu.csv
code/results/Monument80/NSpM/test_output.txt
code/results/Monument80/NSpM/test_ppl.csv
code/results/Monument80/NSpM/train_ppl.csv
code/results/Monument80/NSpM+Att1/dev_bleu.csv
code/results/Monument80/NSpM+Att1/dev_output.txt
code/results/Monument80/NSpM+Att1/dev_ppl.csv
code/results/Monument80/NSpM+Att1/test_bleu.csv
code/results/Monument80/NSpM+Att1/test_output.txt
code/results/Monument80/NSpM+Att1/test_ppl.csv
code/results/Monument80/NSpM+Att1/train_ppl.csv
code/results/Monument80/NSpM+Att2/dev_bleu.csv
code/results/Monument80/NSpM+Att2/dev_output.txt
code/results/Monument80/NSpM+Att2/dev_ppl.csv
code/results/Monument80/NSpM+Att2/test_bleu.csv
code/results/Monument80/NSpM+Att2/test_output.txt
code/results/Monument80/NSpM+Att2/test_ppl.csv
code/results/Monument80/NSpM+Att2/train_ppl.csv
code/results/Monument80/Transformer/dev_output.txt
code/results/Monument80/Transformer/dev_ppl.csv
code/results/Monument80/Transformer/test_output.txt
code/results/Monument80/Transformer/train_ppl.csv
code/results/Monument80/Transformer/train.csv
code/results/Monument80/Transformer/valid.csv
code/results/Monument80/lstm_luong/dev_output.txt
code/results/Monument80/lstm_luong/dev_ppl.csv
code/results/Monument80/lstm_luong/test_output.txt
code/results/Monument80/lstm_luong/train_ppl.csv
code/results/Monument80/lstm_luong/train.csv
code/results/Monument80/lstm_luong/valid.csv
code/results/result/test_output.txt
code/output/models/checkpoint_best.pt
training/output/models/checkpoint_best.pt
training/output/models/fairseq_fconv_wmt_en_de/checkpoint_best.pt
training/output/models/fairseq_fconv_wmt_en_de/checkpoint_last.pt
training/output/models/fairseq_fconv_wmt_en_de/checkpoint100.pt
training/output/models/fairseq_fconv_wmt_en_de/checkpoint200.pt
training/output/models/fairseq_fconv_wmt_en_de/crash.pt
training/data/monument_600/.DS_Store
training/data/monument_600/data_600.en
training/data/monument_600/data_600.sparql
training/data/monument_600/dev.en
training/data/monument_600/dev.sparql
training/data/monument_600/test.en
training/data/monument_600/test.sparql
training/data/monument_600/train.en
training/data/monument_600/train.sparql
training/data/monument_600/vocab.en
training/data/monument_600/vocab.shared
training/data/monument_600/vocab.sparql
training/data/monument_600/fairseq-data-bin/dict.en.txt
training/data/monument_600/fairseq-data-bin/dict.sparql.txt
training/data/monument_600/fairseq-data-bin/preprocess.log
training/data/monument_600/fairseq-data-bin/test.en-sparql.en.bin
training/data/monument_600/fairseq-data-bin/test.en-sparql.en.idx
training/data/monument_600/fairseq-data-bin/test.en-sparql.sparql.bin
training/data/monument_600/fairseq-data-bin/test.en-sparql.sparql.idx
training/data/monument_600/fairseq-data-bin/train.en-sparql.en.bin
training/data/monument_600/fairseq-data-bin/train.en-sparql.en.idx
training/data/monument_600/fairseq-data-bin/train.en-sparql.sparql.bin
training/data/monument_600/fairseq-data-bin/train.en-sparql.sparql.idx
training/data/monument_600/fairseq-data-bin/valid.en-sparql.en.bin
training/data/monument_600/fairseq-data-bin/valid.en-sparql.en.idx
training/data/monument_600/fairseq-data-bin/valid.en-sparql.sparql.bin
training/data/monument_600/fairseq-data-bin/valid.en-sparql.sparql.idx
